<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <h2>Info General</h2>
    <ol>
        <li>Argumentos de entrada:<%=info.args%></li>
        <li>Sistema operativo:<%=info.system%></li>
        <li>Versión de Node.js:<%=info.version%></li>
        <li>Memoria total reservada:<%=info.memRes%></li>
        <li>Path de ejecución:<%=info.execPath%></li>
        <li>Process ID:<%=info.processId%></li>
        <li>Carpeta del Proyecto:<%=info.proyectFolder%></li>
    </ol>
</body>
</html>